.button {
  background-color: #ed7d0c;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  border-radius: 8px;
  margin-right:5px;
  margin-left:5px;
}
.buttondisabled{
  background-color: #d8d8d8;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 8px;
  margin-right:5px;
  margin-left:5px;
}
.textbox{
  border: none;
  border-bottom: 2px solid #ed7d0c;
  background-color: #cbe9f7;
  color: #666666;
  width: 100%;
}
.fontNormal{
  color: #666666;
}
.center {
  position: absolute;
  left: 35%;
  z-index:100;
}
.left {
  position: absolute;
  top: 2%;
  z-index:100;
}
.content{
position: absolute;
margin-top: 5%;
width: 99%;
}
.checkbox{
  border: #ed7d0c;
  color: #ed7d0c;
  background-color: #ed7d0c;
}
.checkbox::after{
  border: #ed7d0c;
  color: #ed7d0c;
  background-color: #ed7d0c;
}
.searchbox{
  border: none;
  padding: 10px 22px;
  background-color: #cbe9f7;
  color: #666666;
  position: absolute;
  right: 2%;
 /* background-image: url('search.png');
  background-position: 7px 7px;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 10px;*/
}
.headrow{
  color: #666666;
  text-align: left;
}
.tablerowalt{
  background-color: #cbe9f7;
  color: #666666;
}
.tablerow{
  color: #666666;
}
table,th, td {
  padding: 2px;
  border-spacing: 0px;
}
.tableWhole{
  width:99%
}
.hrdesign{
  background-color: #ed7d0c;
  width: 99%;
  height: 2px;
  border: none;
  position: absolute;
}
.popupouter{
  position: absolute;
  top: 0%;
  z-index: 101;
  background-color: white;
  width: 99%;
  height: 100%;
  opacity: 0.9;
  margin-top: 0%;
}
.popupinner{
  opacity: 1;
  position: absolute;
  top: 15%;
  left: 30%;
  width: 50%;
  height: 50%;
  z-index: 102;
}
.textboxpopup{
  border: none;
  border-bottom: 2px solid #7a7672;
  color: #666666;
  width: 100%;
}
.page{
  background-color: #cbe9f7;
  color: #71b2ee;
  border: white;
  padding: 5px 5px;
  margin-right:5px;
  margin-left:5px;
  font-weight: bold;
  width: 25px;
}
.pagedisbaled{
  background-color: #dfe6e6;
  color: #a7c1da;
  border: white;
  padding: 5px 5px;
  margin-right:5px;
  margin-left:5px;
  font-weight: bold;
  width: 25px;
}