.button {
  background-color: #ed7d0c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}
.buttondisabled{
  background-color: #d8d8d8;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}
.textbox{
  border: none;
  border-bottom: 2px solid #ed7d0c;
  background-color: #d8d8d8;
  color: #666666;
  width: 100;
}
.fontNormal{
  color: #666666;
}