<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Highradius_Winter_Internship</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
      <param-name>cors.allowed.origins</param-name>
      <param-value>http://localhost:3000</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Add</servlet-name>
    <servlet-class>com.highradius.internship.Add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>tPage</servlet-name>
    <servlet-class>com.highradius.internship.GetTotalPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tPage</servlet-name>
    <url-pattern>/tPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Edit</servlet-name>
    <servlet-class>com.highradius.internship.Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit</servlet-name>
    <url-pattern>/orderEdit</url-pattern>
   </servlet-mapping>
   <servlet>
    <servlet-name>Approve</servlet-name>
    <servlet-class>com.highradius.internship.Approve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Approve</servlet-name>
    <url-pattern>/Approve</url-pattern>
   </servlet-mapping>
   <servlet>
    <servlet-name>Reject</servlet-name>
    <servlet-class>com.highradius.internship.Reject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reject</servlet-name>
    <url-pattern>/Reject</url-pattern>
   </servlet-mapping>
   <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.highradius.internship.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
   </servlet-mapping>
   <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.highradius.internship.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
   </servlet-mapping>
</web-app>